html, body {
    height: 100%;
}

body {
    padding: 5px;
    /*display: flex;
    flex-direction: column;*/
}

.main {
    height: 100%;
}

#editor {
    min-height: 50%;
    min-width: 100%;
    width: 100%;
}